src/main/resources/11.1PraktykaXls/CarXSD.xml

<?xml version= "1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kodilla.com"
           xmlns="http://www.kodilla.com"
           elementFormDefault="qualified">
    <xs:element name="car">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="mark" type="xs:string"/>
                <xs:element name="model" type="xs:string"/>
                <xs:element name="capacity" type="xs:decimal"/>
                <xs:element name="isElectric" type="xs:boolean"/>
                <xs:element name="fuelType" type="xs:string"/>
                <xs:element name="horsePower" type="xs:integer"/>
                <xs:element name="acceleration" type="xs:time"/>
                <xs:element name="productionDate" type="xs:date"/>
                <xs:element name="allowedPackage" type="xs:integer"/>
                <xs:element name="colour" type="xs:string" default="red"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>